* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 72px;
}
a {
  text-decoration: none !important;
}
.Toastify__toast-container {
  z-index: 99999 !important;
}